* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
  }
  
  /* Header styles */
  header {
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  nav ul li a.active {
    font-weight: bold;
  }
  
.app{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    height: auto;;
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 30px;
}
.app h1{
    text-align: center;
}
.card{
    height: auto;
    width: auto;
    /* border: 1px solid red; */
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 20px;
    /* margin-top: 50px; */
}
.card h4{
    margin-top: 10px;
}
.card img{
    width: 40%;
    height: 150px;
    border-radius: 50%;
}
.video{
    margin-top: 10px;
    padding: 10px;
    background-color: blue;
    color:white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.video:hover{
    background-color: blueviolet;
}
.cancel{
    margin-top: 10px;
    padding: 10px;
    background-color: red;
    color:white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
