* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
  }
  
  /* Header styles */
  header {
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  nav ul li a.active {
    font-weight: bold;
  }
  
.doctor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    height: auto;;
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 30px;
}
.card{
    height: auto;
    width: auto;
    /* border: 1px solid red; */
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 20px;
}
.card h4{
    margin-top: 10px;
}
.card img{
    width: 40%;
    height: 150px;
    border-radius: 50%;
}
.appointment{
    margin-top: 10px;
    padding: 10px;
    background-color: blue;
    color:white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.appointment:hover{
    background-color: blueviolet;
}
#loginAlert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4;
    color: #7e7576;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    text-align: center;
    width: 500px;
    height: 200px;
  }
  
  #closeBtn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color:red;
  }
  #loginAlert h3{
    color: green;
  }
  
  button {
    margin-top: 20px;
  }
  #date{
    height: 30px;
    width: 165px;
  }
  #slot{
    height: 30px;
  }
  #sub{
    height: 30px;
    width: 170px;
    background-color: green;
    font-size: 1.2rem;
    color:white;
    border: none;
    border-radius: 10px;
  }
  #sub:hover{
  
    cursor: pointer;
  }