*{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;

}

.main{
    height: 70px;
   
    /* background-color: aqua; */
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color:darkgrey;
    border-radius: 5px;
   
}
.header{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid grey; */
    height: 50px;
    align-items: center;
    width: 90%;
    margin: auto;

    /* background-color: aqua; */
   
}
.logo img{
    width: 15%;
   margin-top: 15px;
}
.navbar{
    width: 70%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    font-size: 2rem;
    /* background-color: blue; */
   
}
.navbar ul li{
    padding:0px 20px
}
.navbar ul li :hover{
    background-color: rgb(163, 156, 156);
    border-radius: 10px;

}
.navbar ul li a{
    color:black;
}
.check label{
    display: flex;
    flex-direction: column;
    gap:0.2rem;
    align-items: center;
}
.check label span{
    background-color: rgb(162, 224, 61);
    padding:0.2rem 0.7rem
}
.check{
    display: none;
}
#hamburger{
    display: none;
}
.option{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 300px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 50px;
}
.option button{
    width: 140px;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: grey;
    color:white;
    cursor: pointer;
}
#patient{
   
    height: auto;
    width: 40%;
    margin: auto;
    /* border: 1px solid red; */
    border-radius: 5px;
    background-color: aqua;
    margin-top: 50px;
}
#patient form{
    height: auto;
  
    margin: auto;

 padding:10px 20px;
 text-align: center;

}
#patient form input{
    padding: 5px;
    width: 250px;
    border-radius: 5px;
    border: none;
    height: 40px;
}
 lable{
    text-align: left;
}
#gender{
    width: 250px;
    height: 40px;
    border-radius: 5px;
}
#patient h1{
   text-align: center;
}
#register{
    font-size: 1.2rem;
    background-color: blue;
    color:white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
#doctor{
   
    height: auto;
    width: 40%;
    margin: auto;
    /* border: 1px solid red; */
    border-radius: 5px;
    background-color: aqua;
    margin-top: 50px;
}
#doctor form{
    height: auto;
  
    margin: auto;

 padding:10px 20px;
 text-align: center;



}
#doctor form input{
    padding: 5px;
    width: 250px;
    border-radius: 5px;
    border: none;
    height: 40px;
}

#gender1{
    width: 250px;
    height: 40px;
    border-radius: 5px;
}
#doctor h1{
   text-align: center;
}
#role{
    width: 250px;
    height: 40px;
    border-radius: 5px;
}
#speciality1{
    width: 250px;
    height: 40px;
    border-radius: 5px;
}