* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
  }
  
  /* Header styles */
  header {
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  nav ul li a.active {
    font-weight: bold;
  }
  
.option{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 300px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 50px;
}
.option button{
    width: 140px;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: grey;
    color:white;
    cursor: pointer;
}
#patient{
   
    height: auto;
    width: 40%;
    margin: auto;
    /* border: 1px solid red; */
    border-radius: 5px;
    /* background-color: aqua; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 50px;
}
#patient form{
    height: auto;
  
    margin: auto;

 padding:10px 20px;
 text-align: center;

}
#patient form input{
    padding: 5px;
    width: 250px;
    border-radius: 5px;
  
    height: 40px;
}
 lable{
    text-align: left;
}
#gender{
    width: 250px;
    height: 40px;
    border-radius: 5px;
}
#patient h1{
   text-align: center;
}
#register{
    font-size: 1.2rem;
    background-color: blue;
    color:white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
#doctor{
   
    height: auto;
    width: 40%;
    margin: auto;
    /* border: 1px solid red; */
    border-radius: 5px;
    /* background-color: aqua; */
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#doctor form{
    height: auto;
  
    margin: auto;

 padding:10px 20px;
 text-align: center;



}
#doctor form input{
    padding: 5px;
    width: 250px;
    border-radius: 5px;
  
    height: 40px;
}

#gender1{
    width: 250px;
    height: 40px;
    border-radius: 5px;
}
#doctor h1{
   text-align: center;
}
#role{
    width: 250px;
    height: 40px;
    border-radius: 5px;
}
#speciality1{
    width: 250px;
    height: 40px;
    border-radius: 5px;
}